<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>  
    
    <add key="ConnectionString" value="Data Source=arcticsun5000.ccnsypazwmb3.us-east-2.rds.amazonaws.com;Initial Catalog=Bard;User ID=Administrator;Password=t!JCwU=(9.nxb-tHn)5XOqgFGR.KABg2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>